[Unit]
Description=Tikmool Laravel Scheduler
After=network.target

[Service]
Type=simple
User=www-data
Group=www-data
Restart=always
RestartSec=5
WorkingDirectory=/var/www/tikmool
ExecStart=/usr/bin/php artisan schedule:work
StandardOutput=append:/var/www/tikmool/storage/logs/scheduler.log
StandardError=append:/var/www/tikmool/storage/logs/scheduler.log

[Install]
WantedBy=multi-user.target
